<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><%= @food.name %></h1>
      <p class="card-text"><%= @food.description %></p>
      <h3 class="text-success">$<%= @food.price %></h3>
    </div>
  </div>
</div>
